@charset "utf-8";
/* CSS Document */


#columCenter {grid-area: columCenter;}
#footer {grid-area: footer;}

body  {
    background-image: url("../imgs/netflix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

#menue {
    height: 80px;
}

button{
    background-color: red;
    color: white;
    border: 0px; 
}

p{
    font-family:  Helvetica, sans-serif;
}

.search{
    padding-top: 25px;
    margin-inline-start: 20px;
}

.fixed{
    width: 1000px;
    position: absolute;
}
 
 input{
     border: 0px;
 }

 #menue{
     background-color: black;
 }

 #footer{
     background-color: black;
 }


