@charset "utf-8";
/* CSS Document */


#columCenter {grid-area: columCenter;}
#footer {grid-area: footer;}

 body  {
    background-image: url("../imgs/netflix.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
  }
  #menue {
    height: 80px;
}
button{
 
    background-color: red;
    color: white;
    border: 0px;
   
}

p{
    font-family:  Helvetica, sans-serif;
}

.search{
    padding-top: 25px;
    margin-inline-start: 20px;
}
img{
    margin-left: 10px;
}
.fixed{
    width: 1000px;
    position: absolute;
}
 
 input{
     
     border: 0px;
     
 }

 /*---------------------------------------------------------*/
@media screen and (min-width: 480px)  {
	

    #menue{
        background-color: black;
    }

    #footer{
        background-color: black;
    }
}

@media screen and (max-width: 480px)  {
	body{
		grid-template-columns: 1fr  ;
		grid-template-rows:  1fr 1fr 1fr 1fr  ;
		display: grid;
		grid-template-areas:
			 'menue '
             'columCenter'
             'columRight'
			 'footer';
    }
    #menue{
        background-color: black;
    }
    #columRight{
        background-color: gray;
    }
    #columLeft{
        background-color: gray;
    }
    #columCenter{
        background-color: gray;
    }
    #footer{
        background-color: black;
    }
}