@charset "utf-8";
/* CSS Document */

#menue {grid-area: menue;}
#columCenter {grid-area: columCenter;}
#columRight {grid-area: columRight;}
#footer {grid-area: footer;}
body{
    margin: 0px;
    height: 1080px;
 }
 
 input{
     border-radius: 100px 100px 100px 100px;
 }
@media screen and (min-width: 480px)  {
	body{
		grid-template-columns: 1fr 1fr  ;
		grid-template-rows: 90px 10fr 90px ;
		display: grid;
		grid-template-areas:
			 'menue menue '
			 'columCenter columRight'
			 'footer footer ';
    }
    .search{
        margin-top: 20px;
        margin-inline-start: 20px;
    }
  
    #menue{
        background-color: black;
        
    }
    #columRight{
        background-color: gray;
    }
    #columLeft{
        align-items: center;
        background-color: gray;
    }
    #columCenter{
        background-color: gray;
    }
    #footer{
        background-color: black;
    }


}

@media screen and (max-width: 480px)  {
	body{
		grid-template-columns: 1fr  ;
		grid-template-rows: 1 1fr 1fr 1fr 1fr  ;
		display: grid;
		grid-template-areas:
			 'menue '
             'columCenter'
             'columRight'
			 'footer';
    }
    #menue{
        background-color: black;
    }
    #columRight{
        background-color: gray;
    }
    #columLeft{
        background-color: gray;
    }
    #columCenter{
        background-color: gray;
    }
    #footer{
        background-color: black;
    }
}